*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root,
#__next {
  isolation: isolate;
}

ol,
ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

a,
button,
[role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

textarea {
  resize: vertical;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img,
video {
  max-width: 100%;
  height: auto;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

fieldset {
  border: 0;
}

blockquote,
dl,
dd {
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

[hidden] {
  display: none;
}
