.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;

  transition: background-color 0.3s ease, box-shadow 0.3 ease;
}

/* Primary buttons */

.btn-primary {
  column-gap: 0.625rem;

  background-color: var(--btn-color-default-primary);

  padding: 0.25rem 0.875rem;
  border-radius: 150px;
}

.btn-primary:hover {
  background-color: var(--btn-color-hover-primary);
}

.btn-primary:active {
  background-color: var(--btn-color-click-primary);
}

.btn-primary:disabled {
  pointer-events: none;
  cursor: not-allowed;
}

.btn-to-cart,
.btn-look-reviews {
  max-width: 163px;
  width: 100%;
  height: 43px;
}

.btn-build-route {
  max-width: 220px;
  width: 100%;
  height: 50px;
}

.btn-add-to-cart {
  width: 42px;
  height: 42px;
}

/* Secondary buttons */

.btn-secondary {
  background-color: var(--btn-color-default-secondary);

  height: 45px;
  border-radius: 10px;
}

.btn-secondary:hover {
  background-color: var(--btn-color-hover-secondary);

  box-shadow: 0 5px 35px 5px rgba(0, 0, 0, 0.15);
}

.btn-secondary:not(:disabled):active {
  background-color: var(--btn-color-click-secondary);
}

.btn-secondary:disabled {
  pointer-events: none;
  cursor: not-allowed;
}

.apply-address {
  width: 100%;
}

.btn-order {
  flex-wrap: nowrap;
}

.btn-order-table {
  background-color: var(--secondary-color);

  width: 100%;
}

.btn-order-table:hover {
  background-color: #982A2D;
}

.btn-order-table:not(:disabled):active {
  background-color: #661c1f;
}

.btn-secondary.price-weight {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 0.15rem;

  width: 131px;
  height: 23px;
}

/* Header slider arrow buttons */

.dishes-glide-arrows {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 3rem;
}

.dishes-glide-arrow {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;

  border: none;

  transition: scale 0.2s ease;
}

.dishes-glide-arrow:hover {
  transform: scale(1.05);
}

/* Cart button */

.btn-change-address {
  background-color: transparent;
}