.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;

  transition:
    background-color 0.3s ease,
    box-shadow 0.3 ease;
}

/* Primary buttons */

.btn-primary {
  column-gap: 0.625rem;

  background-color: var(--btn-color-default-primary);

  padding: 0.25rem 0.875rem;
  border-radius: 9.375rem;
}

.btn-primary:hover {
  background-color: var(--btn-color-hover-primary);
}

.btn-primary:active {
  background-color: var(--btn-color-click-primary);
}

.btn-primary:disabled {
  pointer-events: none;
  cursor: not-allowed;
}

.btn-to-cart,
.btn-look-reviews {
  max-width: 163px;
  width: 100%;
  height: 43px;
}

.btn-build-route {
  max-width: 220px;
  width: 100%;
  height: 50px;
}

.btn-add-to-cart {
  width: 42px;
  height: 42px;
}

.btn-read-poster {
  max-width: 163px;
  height: 43px;
}

/* Secondary buttons */

.btn-secondary {
  background-color: var(--btn-color-default-secondary);

  height: 45px;
  border-radius: 0.625rem;
}

.btn-secondary:hover {
  background-color: var(--btn-color-hover-secondary);

  box-shadow: 0 5px 35px 5px rgba(0, 0, 0, 0.15);
}

.btn-secondary:not(:disabled):active {
  background-color: var(--btn-color-click-secondary);
}

.btn-secondary:disabled {
  pointer-events: none;
  cursor: not-allowed;
}

.apply-address {
  width: 100%;
}

.btn-order {
  flex-wrap: nowrap;

  min-height: 45px;
}

.btn-order-table {
  background-color: var(--secondary-color);

  width: 100%;
}

.btn-order-table:hover {
  background-color: #982a2d;
}

.btn-order-table:not(:disabled):active {
  background-color: #661c1f;
}

.btn-secondary.price-weight {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 0.15rem;

  width: 131px;
  height: 23px;
}

.btn-add-option {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;

  max-width: 230px;
  width: 100%;  
}

/* Header slider arrow buttons */

.dishes-glide-arrows {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 3rem;
}

.dishes-glide-arrow {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;

  border: none;

  transition: scale 0.2s ease;
}

.dishes-glide-arrow:hover {
  transform: scale(1.05);
}

/* Cart button */

.btn-change-address {
  background-color: transparent;
}

/* Mobile buttons */

.btn-mobile-burger {
  display: none;
}

.mobile-btn-close-top-menu {
  position: absolute;
  top: -1.5rem;
  right: 0.5rem;

  background-color: transparent;

  width: 1.25rem;
  height: 1.25rem;
}

.mobile-btn-close-top-menu img {
  width: 1.25rem;
  height: 1.25rem;
}

.btn-mobile-book-table {
  max-width: 260px;
  margin-bottom: 1.25rem;
}

.mobile-menu .btn-build-route {
  background-color: var(--primary-color);

  max-width: 304px;
  width: 100%;
  height: 40px;
  margin-bottom: 2.875rem;
}

.btn-open-cart {
  display: none;

  z-index: 6;
}

@media (width <= 1280px) {
  /* Header slider buttons*/
  .dishes-glide-arrows {
    position: absolute;
    justify-content: space-between;
    top: 20%;
    column-gap: none;

    max-width: 800px;
    width: 100%;
  }
}

@media (width <= 960px) {
  /* Header slider buttons */

  .dishes-glide-arrows {
    top: 30%;

    max-width: 940px;
    width: 100%;
  }

  /* Mobile menu buttons */

  .btn-mobile-burger {
    display: block;

    background-color: transparent;

    min-width: 1.5rem;
    margin-left: auto;
  }

  /* Mobile buttons */

  .btn-open-cart {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    column-gap: 0.25rem;
    bottom: 0.625rem;
    left: 0.625rem;

    width: calc(100% - 1.25rem);
    height: 60px;
  }

  .btn-open-cart.visible {
    display: flex;
  }

  .btn-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #82da69;

    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
  }
}

@media (width <= 768px) {
  .btn-book-table {
    max-height: 2rem;
  }

  .btn-book-table img {
    max-height: 1.5rem;
  }
}

@media (width <= 681px) {
  .btn-look-reviews {
    display: none;
  }
}

@media (width <= 575px) {
  .btn-book-table {
    column-gap: 0rem;

    min-width: 170px;
  }

  .btn-read-poster {
    max-width: 120px;
    height: 2rem;
  }
}
