.footer {
  margin: 0 1.5rem 1.5rem 1.5rem;
  padding: 3.75rem 9.75rem 1.5rem 9.75rem;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-branding {
  display: flex;
  flex: 1 0 340px;
  flex-direction: column;
  row-gap: 2.5rem;
}

.footer-branding-socials-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 1.25rem;
}

.socials-list-item a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts {
  display: flex;
  flex: 1 0 276px;
  flex-direction: column;
  row-gap: 1.75rem;
}

.contacts-list {
  display: flex;
  flex-direction: column;
  row-gap: 1.75rem;
}

.contacts-item-link {
  max-width: 200px;
}

.useful-information {
  display: flex;
  flex-direction: column;
  row-gap: 1.75rem;
}

.useful-information-list {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}