.map {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem 1.5rem 3.75rem 1.5rem;
}

.map-container {
  display: flex;
  flex-wrap: wrap-reverse;
  overflow: hidden;

  border-radius: 10px;
}

.map-container > * {
  flex: 1 0 360px;
}

.map-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}

.map-call-to-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 3.5rem;

  background-image: url(/public/assets/images/map-section-bg-img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-clip: content-box;

  max-height: 500px;
  width: 100%;
}

.map-call-to-action-address {
  max-width: 560px;
}

@media (max-width: 960px) {
  .map {
    padding: 1.25rem 0.675rem;
  }

  .map-call-to-action {
    row-gap: 1rem;
  }
}

@media (max-width: 740px) {
  .map-call-to-action {
    min-height: 340px;
  }
  
  .map-frame {
    min-height: 340px;
  }
}

@media (max-width: 395px) {
  .map-call-to-action {
    max-width: 375px;
  }

  .map-call-to-action-address {
    max-width: 278px;
  }
}