.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;

  background-color: rgba(0, 0, 0, 0.4);

  width: 100%;
  height: 100%;

  z-index: 7;
}

.modal.fade-in {
  -webkit-animation: fadeIn 0.5s forwards;
  animation: fadeIn 0.5s forwards;
}

.modal.fade-out {
  -webkit-animation: fadeOut 0.5s forwards;
  animation: fadeOut 0.5s forwards;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.modal-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  top: 50%;
  left: 50%;

  background-color: #ffffff;

  max-width: 668px;
  width: 100%;
  padding: 2.5rem;
  border-radius: 1.5rem;

  -webkit-animation: slideIn 0.5s;

  animation: slideIn 0.5s;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@-webkit-keyframes slideIn {
  from {
    -webkit-transform: translate(-50%, -60%);
    transform: translate(-50%, -60%);
    opacity: 0;
  }

  to {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    -webkit-transform: translate(-50%, -60%);
    transform: translate(-50%, -60%);
    opacity: 0;
  }

  to {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

.modal-content.slide-out {
  -webkit-animation: slideOut 0.5s forwards;
  animation: slideOut 0.5s forwards;
}

@-webkit-keyframes slideOut {
  from {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 1;
  }

  to {
    -webkit-transform: translate(-50%, -60%);
    transform: translate(-50%, -60%);
    opacity: 0;
  }
}

@keyframes slideOut {
  from {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 1;
  }

  to {
    -webkit-transform: translate(-50%, -60%);
    transform: translate(-50%, -60%);
    opacity: 0;
  }
}

.modal-container h4 {
  margin-bottom: 1rem;
}

.close-icon {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;

  background-color: transparent;

  border: none;

  cursor: pointer;
}

/* Cart */

.cart {
  position: fixed;
  top: 169px;

  background-color: #ffffff;

  max-width: 365px;
  width: 100%;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 0.625rem;

  -webkit-box-shadow: 0 -6px 36px 6px rgba(0, 0, 0, 0.05);

  box-shadow: 0 -6px 36px 6px rgba(0, 0, 0, 0.05);
  z-index: 6;
  -webkit-transition:
    bottom 0.3s ease,
    top 0.3s ease,
    position 2s ease-in-out;
  -o-transition:
    bottom 0.3s ease,
    top 0.3s ease,
    position 2s ease-in-out;
  transition:
    bottom 0.3s ease,
    top 0.3s ease,
    position 2s ease-in-out;
}

.cart.sticky {
  position: fixed;
  top: 169px;

  -webkit-transition: bottom 0.3s ease;

  -o-transition: bottom 0.3s ease;

  transition: bottom 0.3s ease;
}

.cart.stop {
  position: absolute;
  top: auto;

  -webkit-transition: bottom 0.3s ease;

  -o-transition: bottom 0.3s ease;

  transition: bottom 0.3s ease;
}

.cart-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 1rem;

  max-width: 365px;
  min-height: 499px;
  max-height: 499px;
}

.cart-container .close-icon {
  display: none;
}

.cart-container-delivery,
.cart-container-pickup {
  display: none;

  opacity: 0;
  visibility: hidden;
  -webkit-transition:
    display 0.3s ease,
    opacity 0.3s ease,
    visibility 0.3s ease;
  -o-transition:
    display 0.3s ease,
    opacity 0.3s ease,
    visibility 0.3s ease;
  transition:
    display 0.3s ease,
    opacity 0.3s ease,
    visibility 0.3s ease;
}

.cart-container-delivery.active,
.cart-container-pickup.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  opacity: 1;
  visibility: visible;
}

.cart-container-delivery,
.cart-container-pickup {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  row-gap: 0.625rem;
}

.cart-dishes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 1rem;
  overflow-y: auto;

  height: 100%;
  padding-right: 0.5rem;

  scrollbar-width: thin;
}

.cart-dish-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;

  max-height: 82px;
}

.dish-card-img {
  max-width: 82px;
  width: 100%;
  border-radius: 1rem;
  -o-object-fit: contain;
  object-fit: contain;
}

.dish-card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 0.675rem;
}

.dish-card-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;

  max-width: 212px;
}

.cart-dish-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.amount-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 1.125rem;
  -moz-column-gap: 1.125rem;
  column-gap: 1.125rem;

  max-height: 1.875rem;
  padding: 0.375rem 0.625rem;
  border: 1px solid #d4d4d4;
  border-radius: 0.25rem;
}

.details .amount-counter {
  max-width: 5.125rem;
}

.amount-counter>* {
  background-color: transparent;
}

/* Choose address form modal */

.modal-change-address .modal-container {
  height: 439px;
}

.form-wrapper {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;

  max-width: 448px;
  width: 100%;
  margin-top: 1rem;
}

.pickup-form,
.delivery-form {
  display: none;

  width: 100%;

  opacity: 0;
  visibility: hidden;
  -webkit-transition:
    display 0.3s ease,
    opacity 0.3s ease,
    visibility 0.3s ease;
  -o-transition:
    display 0.3s ease,
    opacity 0.3s ease,
    visibility 0.3s ease;
  transition:
    display 0.3s ease,
    opacity 0.3s ease,
    visibility 0.3s ease;
}

.pickup-form.active,
.delivery-form.active {
  display: block;

  opacity: 1;
  visibility: visible;
}

/* Book table modal */

.modal-book-table .modal-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.modal-book-table .modal-wrapper {
  max-width: 400px;
}

/* Choose option modal */

.modal-choose-option .modal-container {
  row-gap: 1.5rem;

  max-width: 440px;
}

.modal-choose-option .modal-container .close-icon {
  top: 1.5rem;
  right: 1.5rem;
}

.modal-choose-option .modal-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.modal-choose-option .options-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.modal-dish-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
}

.modal-dish-card .dish-card-name {
  max-width: 250px;
}

.modal-dish-card .dish-card-wrapper {
  row-gap: 0.625rem;
}

.options-wrapper .dish-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  padding: 0.75rem 0;
  border-bottom: 1px solid #C9C9C9;
}

.dish-option:nth-last-child(-n + 1) {
  border-bottom: none;
}

.modal-choose-option .amount-counter {
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
}

@media (width <=960px) {
  .cart {
    position: fixed;
    display: none;
    top: unset;
    bottom: 0;
    left: 0;

    max-width: none;
    max-height: 533px;
    border-radius: 0.625rem 0.625rem 0 0;
  }

  .cart.sticky {
    position: fixed;
    top: unset;
    bottom: 0;

    -webkit-transition: bottom 0.3s ease;

    -o-transition: bottom 0.3s ease;

    transition: bottom 0.3s ease;
  }

  .cart.stop {
    position: fixed;
    top: unset;
    bottom: 0;

    -webkit-transition: bottom 0.3s ease;

    -o-transition: bottom 0.3s ease;

    transition: bottom 0.3s ease;
  }

  .cart.slide-in {
    -webkit-animation: slidein 0.5s;
    animation: slidein 0.5s;
    -webkit-transform: translateY(0.5%);
    -ms-transform: translateY(0.5%);
    transform: translateY(0.5%);
  }

  .cart.visible {
    display: block;
  }

  @-webkit-keyframes slidein {
    from {
      -webkit-transform: translateY(60%);
      transform: translateY(60%);
      opacity: 0;
    }

    to {
      -webkit-transform: translateY(0.5%);
      transform: translateY(0.5%);
      opacity: 1;
    }
  }

  @keyframes slidein {
    from {
      -webkit-transform: translateY(60%);
      transform: translateY(60%);
      opacity: 0;
    }

    to {
      -webkit-transform: translateY(0.5%);
      transform: translateY(0.5%);
      opacity: 1;
    }
  }

  .cart.hidden {
    display: none;
  }

  .cart.slide-out {
    -webkit-animation: slideout 0.5s;
    animation: slideout 0.5s;
    -webkit-transform: translateY(60%);
    -ms-transform: translateY(60%);
    transform: translateY(60%);
  }

  @-webkit-keyframes slideout {
    from {
      -webkit-transform: translateY(0.5%);
      transform: translateY(0.5%);
      opacity: 1;
    }

    to {
      -webkit-transform: translateY(60%);
      transform: translateY(60%);
      opacity: 0;
    }
  }

  @keyframes slideout {
    from {
      -webkit-transform: translateY(0.5%);
      transform: translateY(0.5%);
      opacity: 1;
    }

    to {
      -webkit-transform: translateY(60%);
      transform: translateY(60%);
      opacity: 0;
    }
  }

  .cart-container {
    max-width: none;
  }

  .cart-container .close-icon {
    display: block;
    top: 0rem;
    right: 0.5rem;
  }
}

@media (width <=768px) {
  .modal-container {
    max-width: 580px;
  }
}

@media (width <=622px) {
  .modal-container {
    max-width: 400px;
  }
}

@media (width <=575px) {
  .modal-dish-card .dish-card-img {
    max-width: 73px;
  }

  .modal-dish-card .dish-card-name {
    max-width: 130px;
  }
}

@media (width <=420px) {
  .modal-container {
    max-width: 289px;
    padding: 2rem 1rem 2rem 1rem;
  }

  .modal-change-address .modal-container {
    max-width: 340px;
  }

  .modal-container h4 {
    max-width: none;
  }

  .close-icon {
    top: 2rem;
    right: 1rem;
  }
}