.reviews {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding: 2.5rem 1.5rem 1.5rem 1.5rem;
}

.reviews-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2.125rem;
  border-radius: 10px;

  box-shadow: 0 -6px 35px 6px rgba(0, 0, 0, 0.05);
}

.reviews-text-container {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
}

@media (width <= 960px) {
  .reviews {
    padding: 1.25rem 0.625rem;
  }

  .reviews-container {
    flex-wrap: wrap;

    padding: 1.25rem;
  }

  .reviews-container > * {
    flex: 1 0 311px;
  }
}

@media (width <= 681px) {
  .reviews-text-container {
    align-items: center;
  }
}

@media (width <= 395px) {
  .reviews-container {
    padding: 0;
  }

  .reviews-text-container {
    row-gap: 0;
  }
}
