.header {
  background-image: url(/public/assets/images/header-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  min-height: 720px;
  width: 100%;
  padding-bottom: 2.75rem;
}

.header-bottom-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

main {
  position: relative;

  margin-top: -550px;

  z-index: 5;
}

.checkout-form {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 28.5rem;
  padding-left: 1.25rem;
  padding-bottom: 1.25rem;

  transition: height 0.3s ease-out;
}

#checkout-header {
  margin-bottom: 1.875rem;
}

.checkout-container {
  display: flex;
  flex-direction: column;

  background-color: var(--primary-color);

  padding: 1.875rem 4.625rem 3.5rem 4.625rem;
  border-radius: 0.625rem;

  box-shadow: 0 -6px 36px 6px rgba(0, 0, 0, 0.05);

  transition: height 0.3s ease-out;
}

.checkout-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1.875rem;
}

.checkout-wrapper > * {
  flex: 1 0 300px;
}

.checkout-delivery-address,
.checkout-pickup-address {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 1rem;

  margin-top: 2rem;
  padding: 1.5rem;
  border: 1px solid #EDF2F6;
  border-radius: 0.625rem;

  opacity: 0;
  visibility: hidden;
  transition: display 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
}

.checkout-delivery-address.active,
.checkout-pickup-address.active {
  display: flex;

  opacity: 1;
  visibility: visible;
}


#choose-time-header,
#payment-method-header,
#details-header {
  margin-bottom: 2.5rem;
}

.placing-order {
  display: flex;
  flex-direction: column;
}

.choose-time {
  margin-top: 3rem;
}

.choose-time > *,
.payment-method > * {
  margin-bottom: 1rem;
}

#amount-cutlery-header {
  margin-bottom: 1.25rem;
}

.recomendations-container {
  display: flex;
  flex-direction: column;

  background-color: #EDF2F7;

  padding: 1.5rem 1.5rem;
  border-radius: 0.625rem;
}

#recomendations-header {
  margin-bottom: 1.25rem;
}

.recomendations-dish-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

@media (max-width: 960px) {
  .header-bottom {
    padding: 0;
  }

  .checkout-form {
    padding: 0 0.625rem 1.25rem 0.625rem;
  }
}

@media (max-width: 495px) {
  .checkout-form {
    padding: 0.625rem;
  }

  .checkout-container {
    padding: 1.25rem;
  }
}