.header {
  background-image: url(/public/assets/images/header-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 720px;
  width: 100%;
  padding-bottom: 2.75rem;
}

.header-bottom-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  width: 100%;
}

main {
  position: relative;

  margin-top: -550px;

  z-index: 5;
}

.checkout-form {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 28.5rem;
  padding-left: 1.25rem;
  padding-bottom: 1.25rem;

  -webkit-transition: height 0.3s ease-out;

  -o-transition: height 0.3s ease-out;

  transition: height 0.3s ease-out;
}

#checkout-header {
  margin-bottom: 1.875rem;
}

.checkout-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  background-color: var(--primary-color);

  padding: 1.875rem 4.625rem 3.5rem 4.625rem;
  border-radius: 0.625rem;

  -webkit-box-shadow: 0 -6px 36px 6px rgba(0, 0, 0, 0.05);

  box-shadow: 0 -6px 36px 6px rgba(0, 0, 0, 0.05);

  -webkit-transition: height 0.3s ease-out;

  -o-transition: height 0.3s ease-out;

  transition: height 0.3s ease-out;
}

.checkout-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 1.875rem;
}

.checkout-wrapper>* {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 300px;
  flex: 1 0 300px;
}

.checkout-delivery-address,
.checkout-pickup-address {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  row-gap: 1rem;

  margin-top: 2rem;
  padding: 1.5rem;
  border: 1px solid #edf2f6;
  border-radius: 0.625rem;

  opacity: 0;
  visibility: hidden;
  -webkit-transition:
    display 0.3s ease,
    opacity 0.3s ease,
    visibility 0.3s ease;
  -o-transition:
    display 0.3s ease,
    opacity 0.3s ease,
    visibility 0.3s ease;
  transition:
    display 0.3s ease,
    opacity 0.3s ease,
    visibility 0.3s ease;
}

.checkout-delivery-address.active,
.checkout-pickup-address.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  opacity: 1;
  visibility: visible;
}

#choose-time-header,
#payment-method-header,
#details-header {
  margin-bottom: 2.5rem;
}

.placing-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.choose-time {
  margin-top: 3rem;
}

.choose-time>*,
.payment-method>* {
  margin-bottom: 1rem;
}

#amount-cutlery-header {
  margin-bottom: 1.25rem;
}

.recomendations-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  background-color: #edf2f7;

  padding: 1.5rem 1.5rem;
  border-radius: 0.625rem;
}

#recomendations-header {
  margin-bottom: 1.25rem;
}

.recomendations-dish-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 1rem;
}

@media (width <=960px) {
  .header-bottom {
    padding: 0;
  }

  .checkout-form {
    padding: 0 0.625rem 1.25rem 0.625rem;
  }
}

@media (width <=495px) {
  .checkout-form {
    padding: 0.625rem;
  }

  .checkout-container {
    padding: 1.25rem;
  }
}