/* Header */

.header {
  background-image: url(/public/assets/images/header-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 720px;
  width: 100%;
  padding-bottom: 2.75rem;
}

.header-bottom-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  width: 100%;
  padding-right: 27rem;
}

/* Header dish slider */

.header-bottom-dishes-glide {
  max-width: 950px;
  width: 100%;
}

.dishes-glide-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1.75rem;

  max-height: 460px;
  min-height: 460px;
}

.dish-text-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  row-gap: 1.875rem;
}

.price-and-cart-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;

  width: 100%;
}

.price-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 0.25rem;
}

.btn-to-cart {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.dish-img {
  max-width: 490px;
}

/* Stories slider */

.stories-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;

  max-width: 1440px;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 3.75rem 1.5rem 1.5rem 1.5rem;
}

.stories-slider.shift-left {
  -webkit-animation: shiftLeft 0.5s forwards;
  animation: shiftLeft 0.5s forwards;
}

.stories-slider.shift-right {
  -webkit-animation: shiftRight 0.5s forwards;
  animation: shiftRight 0.5s forwards;
}

@-webkit-keyframes shiftLeft {
  from {
    padding-right: 1.5rem;
  }

  to {
    padding-right: 27rem;
  }
}

@keyframes shiftLeft {
  from {
    padding-right: 1.5rem;
  }

  to {
    padding-right: 27rem;
  }
}

@-webkit-keyframes shiftRight {
  from {
    padding-right: 27rem;
  }

  to {
    padding-right: 1.5rem;
  }
}

@keyframes shiftRight {
  from {
    padding-right: 27rem;
  }

  to {
    padding-right: 1.5rem;
  }
}

.scroll {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  overflow: auto;

  width: 100%;
}

.stories {
  overflow: hidden;

  min-height: 110px;
  width: 100%;
}

.stories .scroll-stories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-column-gap: 4rem;
  -moz-column-gap: 4rem;
  column-gap: 4rem;

  width: 100%;
}

.stories .scroll-stories::-webkit-scrollbar {
  width: 0;
}

.stories .scroll-stories .story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  text-align: center;

  width: 115px;

  cursor: pointer;
}

.stories .scroll-stories .story .photo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  width: 110px;
  height: 110px;

  -webkit-transition: scale 1s ease;

  -o-transition: scale 1s ease;

  transition: scale 1s ease;
}

.stories .scroll-stories .story .photo:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.stories .scroll-stories .story .photo img {
  background-color: var(--primary-color);

  width: calc(100px - 5px);
  height: calc(100px - 5px);
  border-radius: 50%;
  border: 3px solid var(--secondary-color);
}

/* Stories slider modal */

.instagram-stories-modal {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  overflow: auto;

  background: #000;

  width: 100%;
  height: 100%;

  opacity: 0;
  z-index: 8;
  cursor: pointer;
}

.instagram-stories-modal.fade-in {
  -webkit-animation: fadeIn 0.5s forwards;
  animation: fadeIn 0.5s forwards;
}

.instagram-stories-modal.fade-out {
  -webkit-animation: fadeOut 0.5s forwards;
  animation: fadeOut 0.5s forwards;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.instagram-stories-modal-container {
  position: absolute;
  top: 36%;
  left: 51%;

  max-width: 500px;
  max-height: 600px;
  height: calc(100% - 100px);
  width: 100%;
  margin: 0 0.625rem;

  -webkit-transform: translate(-50%, -50%);

  -ms-transform: translate(-50%, -50%);

  transform: translate(-50%, -50%);
  z-index: 9;
  cursor: pointer;
}

@-webkit-keyframes slideIn {
  from {
    -webkit-transform: translate(-50%, -60%);
    transform: translate(-50%, -60%);
    opacity: 0;
  }

  to {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    -webkit-transform: translate(-50%, -60%);
    transform: translate(-50%, -60%);
    opacity: 0;
  }

  to {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

.instagram-stories-modal-container.slide-in {
  -webkit-animation: slideIn 0.5s forwards;
  animation: slideIn 0.5s forwards;
}

.instagram-stories-modal-container.slide-out {
  -webkit-animation: slideOut 0.5s forwards;
  animation: slideOut 0.5s forwards;
}

@-webkit-keyframes slideOut {
  from {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 1;
  }

  to {
    -webkit-transform: translate(-50%, -60%);
    transform: translate(-50%, -60%);
    opacity: 0;
  }
}

@keyframes slideOut {
  from {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 1;
  }

  to {
    -webkit-transform: translate(-50%, -60%);
    transform: translate(-50%, -60%);
    opacity: 0;
  }
}

.instagram-stories-storie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  height: 100%;
  width: 100%;

  -webkit-user-select: none;

  -moz-user-select: none;

  -ms-user-select: none;

  user-select: none;

  z-index: 9;
}

.instagram-storie-wrapper {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;

  width: 100%;

  z-index: 9;
}

.instagram-storie-progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  background-color: transparent;

  padding: 0.75rem 0 0.5rem 0;
}

.instagram-storie-progress-item {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  overflow: hidden;

  background-color: #727272;

  height: 3px;
  border-radius: 0.625rem;
}

.instagram-storie-progress-item-bar {
  background-color: var(--secondary-color);

  width: 0%;
  height: 100%;
}

.instagram-storie-progress-item:not(:last-child) {
  margin-right: 0.125rem;
}

.instagram-stories-btn-next,
.instagram-stories-btn-prev {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  background-color: #bebebe;

  width: 53px;
  height: 50px;
  padding: 0;
  border: none;
  border-radius: 5px;
  border-radius: 50%;
  outline: none;

  cursor: pointer;
  z-index: 10;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.instagram-stories-btn-next {
  top: 50%;
  left: calc(50% + 299px);
}

.instagram-stories-btn-prev {
  top: 50%;
  left: calc(50% - 290px);
}

.instagram-stories-btn-next img,
.instagram-stories-btn-prev img {
  max-height: 22px;

  -webkit-filter: invert(1);

  filter: invert(1);
}

.instagram-stories-btn-close-modal {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  top: 5%;
  right: 10%;

  background-color: transparent;

  max-width: 1.5rem;
  max-height: 1.5rem;
  width: 100%;
  height: 100%;
  border: none;

  z-index: 10;
}

.instagram-stories-btn-close-modal img {
  width: 1.5rem;
  height: 1.5rem;
}

/* Dishes menu */

.dishes-menu {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
}

.dishes-menu.shift-left {
  -webkit-animation: shiftLeft 0.5s forwards;
  animation: shiftLeft 0.5s forwards;
}

.dishes-menu.shift-right {
  -webkit-animation: shiftRight 0.5s forwards;
  animation: shiftRight 0.5s forwards;
}

.dishes-menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 3.125rem;

  width: 100%;
}

.menu-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 4rem;
}

.menu-section-wrapper {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(208px, 1fr));
  -webkit-column-gap: 3.75rem;
  -moz-column-gap: 3.75rem;
  column-gap: 3.75rem;
  row-gap: 2.875rem;
}

.dish-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 0.75rem;
  overflow: hidden;

  max-height: 367px;
  width: 100%;
  border-radius: 10px;

  -webkit-box-shadow: 0 4px 100px 5px rgba(0, 0, 0, 0.06);

  box-shadow: 0 4px 100px 5px rgba(0, 0, 0, 0.06);
}

.dish-card img {
  height: 100%;
  max-height: 184px;
  min-height: 184px;
  -o-object-fit: cover;
  object-fit: cover;
}

.dish-text-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  padding: 0.75rem;
}

.dish-header {
  margin-bottom: 0.5rem;
}

.dish-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  -webkit-line-clamp: 3;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: normal;
}

.text-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;

  margin-top: auto;
}

@media (width <=1280px) {
  /* Header */

  .header {
    min-height: 720px;
  }

  .dishes-glide-slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    gap: 1rem;
  }

  .header-bottom-dishes-glide {
    position: relative;
  }

  .dish-img {
    max-height: 222px;
  }

  .dish-text-content-wrapper {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    row-gap: 1.5rem;
  }

  .price-and-cart-wrapper {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  /* Stories */

  .stories .scroll-stories {
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
  }
}

@media (max-width: 960px) {
  /* Header */

  .header {
    padding-bottom: 1rem;
  }

  .header-bottom {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    row-gap: 2rem;
  }

  .header-bottom-wrapper {
    padding: 0 0.625rem 0 0.625rem;
  }

  .dishes-glide-slide {
    max-height: unset;
    min-height: unset;
  }

  .dish-img {
    max-height: unset;
  }

  .slide-dish-description {
    max-width: 500px;
  }

  .price-and-cart-wrapper {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-column-gap: 2.5rem;
    -moz-column-gap: 2.5rem;
    column-gap: 2.5rem;
  }

  /* Stories */

  .stories-slider {
    padding: 1.25rem 0.625rem;
  }

  .stories .scroll-stories {
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
  }

  /* Dishes menu */

  .dishes-menu {
    padding: 1.25rem 0.625rem;
  }

  .dishes-menu-container {
    row-gap: 1.75rem;
  }

  .menu-section {
    row-gap: 1.75rem;
  }

  .menu-section-wrapper {
    justify-items: center;
  }

  .dish-card {
    max-width: 290px;
  }
}

@media (width <=575px) {
  /* Dishes slider */

  .dishes-glide-slide {
    min-height: unset;
    margin-top: auto;
  }

  .dish-img {
    max-height: 300px;
  }

  .dish-text-content-wrapper {
    max-width: 320px;
  }

  /* Stories */

  .stories .scroll-stories .story .photo img {
    width: 88px;
    height: 88px;
  }

  /* Dishes menu */

  .menu-section-wrapper {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    -webkit-column-gap: 1.5rem;
    -moz-column-gap: 1.5rem;
    column-gap: 1.5rem;
    row-gap: 1.75rem;
  }

  /* Dishes menu */

  .dish-card {
    max-width: 350px;
    max-height: 397px;
  }

  .dish-card img {
    max-height: 244px;
    height: 100%;

    -o-object-position: top;

    object-position: top;
  }
}

@media (width <=395px) {
  .dishes-glide-slide {
    min-height: unset;
  }

  .dish-img {
    max-width: 245px;
  }

  .dish-text-content-wrapper {
    max-width: 222px;
  }

  /* Stories */

  .stories .scroll-stories {
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
  }

  .stories .scroll-stories .story .photo {
    width: 86px;
    height: 86px;
  }

  .stories .scroll-stories .story .photo img {
    width: 66px;
    height: 66px;
  }
}