/* Heeader */

.site-logo-img {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.nav-item-link {
  color: var(--text-color-dark);
}

.nav-item-link.active {
  color: var(--secondary-color);
}

.header-top-telephone img {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.header-top-telephone span {
  color: var(--text-color-dark);
}

.page-nav-slide a {
  color: var(--text-color-dark);
}

.page-nav-slide.active a {
  color: var(--text-color);
}

/* Breadcrumbs */

.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  padding: 1.25rem 0;
}

.breadcrumb ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  margin: 0;
  padding: 0;
}

.breadcrumb li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.breadcrumb li:not(:last-child)::after {
  content: "→";

  margin: 0 0.5rem;
}

.home-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.icon-home {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: url("/public/assets/images/home-icon.svg") no-repeat center;
  background-size: contain;
}

/* Article */

.article {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.article-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 3.75rem;

  background: #fff;

  border-radius: 0.625rem;

  -webkit-box-shadow: 0 -6px 35px 6px rgba(0, 0, 0, 0.05);

  box-shadow: 0 -6px 35px 6px rgba(0, 0, 0, 0.05);
}

.article-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;

  border-radius: 0.625rem;
}

.article-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.article-textcontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 3.75rem;

  padding: 0 5rem 3.75rem 5rem;
}

/* Recomendations */

.recomendations {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0.625rem 1.5rem;
}

.recomendations-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 2.5rem;
}

.recomendations-wrapper {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(400px, 1fr));
  gap: 1.25rem;
}

.poster-container-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  overflow: hidden;

  height: 100%;
  border-radius: 0.625rem;

  -webkit-transition: background 0.3s step-end;

  -o-transition: background 0.3s step-end;

  transition: background 0.3s step-end;
}

.poster-img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  z-index: -1;
}

.poster-item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;

  padding: 1.25rem 2.5rem;
  height: 100%;

  z-index: 3;
}

.poster-item-textcontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 1.5rem;
}

.item-descreption {
  max-width: 455px;
}

@media (width <=1137px) {
  .recomendations-wrapper {
    grid-template-rows: repeat(2, minmax(400px, 1fr));
  }
}

@media (width <=960px) {
  /* Header */

  .site-logo-img {
    -webkit-filter: invert(0);
    filter: invert(0);
  }

  .nav-item-link {
    color: var(--text-color);
  }

  .nav-item-link.active {
    color: var(--secondary-color);
  }

  .header-top-telephone img {
    -webkit-filter: invert(0);
    filter: invert(0);
  }

  .header-top-telephone span {
    color: var(--text-color);
  }

  .page-nav-slide a {
    color: var(--text-color);
  }

  .page-nav-slide.active a {
    color: var(--text-color);
  }

  /* Article */

  .article {
    padding: 0.625rem;
  }

  .article-container {
    row-gap: 1.5rem;
  }

  .article-textcontent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 1.5rem;

    padding: 0 1.5rem 1.5rem;
  }

  /* Recomendations */

  .recomendations {
    padding: 0.625rem;
  }

  .recomendations-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 1.25rem;
  }

  .recomendations-wrapper {
    gap: 0.675rem;
  }
}

@media (width <=767px) {
  .recomendations-wrapper {
    grid-template-rows: repeat(3, minmax(400px, 1fr));
  }
}

@media (width <=575px) {
  .breadcrumb li:not(:last-child)::after {
    margin: 0 0.25rem;
  }

  .breadcrumb a {
    max-width: 100px;
    overflow: hidden;
  }
}

@media (width <=395px) {
  .recomendations-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    grid-template-rows: repeat(3, minmax(300px, 1fr));
  }
}