/* Heeader */

.site-logo-img {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.nav-item-link {
  color: var(--text-color-dark);
}

.nav-item-link.active {
  color: var(--secondary-color);
}

.header-top-telephone img {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.header-top-telephone span {
  color: var(--text-color-dark);
}

.page-nav-slide a {
  color: var(--text-color-dark);
}

.page-nav-slide.active a {
  color: var(--text-color);
}

/* Posters */

.posters {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

#posters-header {
  margin-bottom: 2.5rem;
}

.posters-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.5rem 1fr 1.5rem 1fr 1.5rem 1fr 1.5rem 1fr 1.5rem 1fr;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 1fr;
  gap: 1.5rem;

  height: 100%;
  padding: 0 1.5rem;
}

.posters-container-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  overflow: hidden;

  height: 100%;
  border-radius: 0.625rem;

  -webkit-transition: background 0.3s step-end;

  -o-transition: background 0.3s step-end;

  transition: background 0.3s step-end;
}

.poster-img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  z-index: -1;
}

.poster-item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;

  padding: 1.25rem 2.5rem;
  height: 100%;

  z-index: 3;
}

.poster-item-textcontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 1.5rem;
}

.item-descreption {
  max-width: 455px;
}

#item-0 {
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 3;
  grid-row-end: 4;
  -ms-grid-column-span: 3;
  grid-column-end: 4;
}

#item-1 {
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-row-span: 3;
  grid-row-end: 4;
  -ms-grid-column-span: 3;
  grid-column-end: 7;
}

#item-2 {
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 6;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
}

#item-3 {
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 2;
  grid-row-end: 6;
  -ms-grid-column-span: 2;
  grid-column-end: 5;
}

#item-4 {
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-column: 5;
  grid-column-start: 5;
  -ms-grid-row-span: 2;
  grid-row-end: 6;
  -ms-grid-column-span: 2;
  grid-column-end: 7;
}

#item-5 {
  -ms-grid-row: 6;
  grid-row-start: 6;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 8;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
}

#item-6 {
  -ms-grid-row: 6;
  grid-row-start: 6;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 2;
  grid-row-end: 8;
  -ms-grid-column-span: 2;
  grid-column-end: 5;
}

#item-7 {
  -ms-grid-row: 6;
  grid-row-start: 6;
  -ms-grid-column: 5;
  grid-column-start: 5;
  -ms-grid-row-span: 2;
  grid-row-end: 8;
  -ms-grid-column-span: 2;
  grid-column-end: 7;
}

@media (width <=960px) {
  /* Heeader */

  .site-logo-img {
    -webkit-filter: invert(0);
    filter: invert(0);
  }

  .nav-item-link {
    color: var(--text-color);
  }

  .nav-item-link.active {
    color: var(--secondary-color);
  }

  .header-top-telephone img {
    -webkit-filter: invert(0);
    filter: invert(0);
  }

  .header-top-telephone span {
    color: var(--text-color);
  }

  .page-nav-slide a {
    color: var(--text-color);
  }

  .page-nav-slide.active a {
    color: var(--text-color);
  }

  /* Posters */

  #posters-header {
    margin-top: 1.5rem;
  }

  .posters-container {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(400px, 1fr));

    padding: 0 0.625rem;
  }

  #item-0,
  #item-1,
  #item-2,
  #item-3,
  #item-4,
  #item-5,
  #item-6,
  #item-7 {
    grid-row: auto;
    grid-column: auto;
  }
}

@media (width <=743px) {
  /* Posters */

  .posters-container {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(400px, 1fr));
  }
}

@media (width <=395px) {
  .posters-container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(350px, 1fr));
  }

  .poster-item-content {
    padding: 1.25rem;
  }
}